/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #294a70;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #49688e;
    margin-top: 50px;
}

.description {
    text-align: center;
    font-size: 1.2rem;
    color: #515254;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.options-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: #49688e;
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
}

button:hover {
    background-color: #3b557c;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(73, 104, 142, 0.5);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }

    .options-box {
        flex-direction: column;
        gap: 15px;
    }

    button {
        width: 100%;
    }
}
